<<<<<<< HEAD
body{
    font-family: Arial, sans-serif;
    background-color: #fff;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
=======

>>>>>>> a54721de1602da2edb442258dd051c40c89bc563
